*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url('/PROYECTO-ECO-TURISMO/img/naturaleza2.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.calendar-section {
    padding: 10.4rem;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
}
.calendar-section h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 29px;
}

.booking-form {
    max-width: 800px;
    margin: 0 auto;
}

.date-inputs {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.input-group {
    flex: 1;
    min-width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-weight: 500;
}
.input-group input,
.input-group select {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #DDE5B6;
    border-radius: 10px;
    font-size: 1rem;
    color: #444;
    transition: border-color 0.3s ease;
}
.search-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #ADC178;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 8px;
}
.search-btn:hover {
    background-color: #5e7027;
}
.search-btn2{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #ADC178;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-btn:hover {
    background-color: #5e7027;
}
